/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
.homepage {
  padding: 15px 0 45px 0; }

.homepage__title.content__title {
  margin-bottom: 10px; }

.homepage__subtitle.content__subtitle {
  margin-bottom: 15px; }

.homepage-location-block {
  margin-bottom: 15px; }
  .homepage-location-block:last-child {
    margin-bottom: 0; }

.homepage-location__label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px; }

.homepage-location-cities {
  margin: 0 -5px; }

.homepage-location-cities-column {
  float: left;
  width: 50%;
  padding: 0 5px; }

.homepage-location-city {
  background-color: #d5dce9;
  border-radius: 4px;
  display: block;
  height: 32.5px;
  line-height: 32.5px;
  text-align: center;
  color: #40425c;
  margin-bottom: 7px; }
  .homepage-location-city:last-child {
    margin-bottom: 0; }
